body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.viewWrap {
  display: inline-flex;
  width: 80%;
  height: 100%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 10%
}

.backButton{
  padding-left: 15%;

}
.pageWrap {
 display: flex;
}

.sidebar {
  display: inline-flex;
  background-color: gainsboro;
  width: 23%;
  height: 100%;
  margin-right: 15px;
  padding: 10px;
}

.addFolder{
  display: block;
  width: auto;
  height: auto;
}
.addNote{
  align-content: right;
  background-color: snow;
  display: block;
  width: 100%;
  height: auto;
}
.newNoteForm{
  text-align:right;
}

.name{
  text-align: center;
}